
<div class="container-fluid h-100">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">App Analisis Comerciantes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="row h-75">
    <div class="col-8">
      <nav id="menu"></nav>
      <div id="mapa-mapbox">

      </div>
    </div>
    <div class="col-4">
      <div id="formulario" class="p-3">
        <div class="box-info container-fluid h-100">
          <div class="row">
            <div class="col-12">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRufQzmmis-p_jH2Hhs2GdoKvhuZ2IpGeXBlg&usqp=CAU" class="rounded" width="100%" alt="">
            </div>
            <div #cardInfo class="col-12">
              <p class="info">{{carInfo}}</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>


